- applications:
    - name: app1
  environments:
    - production
    - staging
  instances:
    - template: app-{{ .Application }}-{{ .InstanceNumber }}.{{ .Environment }}.<domain>
      instances: 2

- applications:
    - name: frontend1
      alias: frontend-alias
    - name: frontend2
  environments:
    - production
    - staging
  instances:
    - template: http-{{ .InstanceNumber }}.{{ .Environment }}.<domain>
      instances: 2
      reverseInstanceOrder: true

- applications:
    - regexp: srv-.*
  environments:
    - staging
  instances:
    - template: srv-{{ .InstanceNumber }}.{{ .Environment }}.<domain>
      instances: 1

- applications:
    - regexp: (?P<app>.*)-docs
  environments:
    - staging
  instances:
    - template: srv-{{ .InstanceNumber }}.{{ .Environment }}.<domain>
      instances: 1
    - template: app-{{ .SubexpNames.app }}-{{ .InstanceNumber }}.{{ .Environment }}.<domain>
      instances: 1
